@import "./base.css";

#__nuxt {
  width: 100%;
}
.rounded-gradient {
  background: linear-gradient(
    to right,
    var(--genz-color-gradient-1),
    var(--genz-color-gradient-2)
  );
  border-radius: 15px;
  color: var(--color-link-hover);
  cursor: pointer;
}

.rounded-gradient:hover {
  color: var(--color-link-hover);
  background: linear-gradient(
    to left,
    var(--genz-color-gradient-1),
    var(--genz-color-gradient-2)
  );
}
a {
  text-decoration: none;
  color: black;
  transition: 0.4s;
  font-weight: 600;
}
.blue-line::after {
  content: ""; /* Creates the line */
  display: block; /* Makes it behave like a block element */
  width: 50%; /* Sets the width of the line to 50% of the parent */
  height: 2px; /* Adjust the thickness of the line */
  background-color: var(--genz-color-brand-2); /* Color of the line */
  margin: 0 auto; /* Centers the line */
  position: absolute; /* Positions the line relative to the parent */
  bottom: -10px; /* Adjusts the distance below the text (negative value moves it further down) */
  left: 0;
  right: 0; /* Ensures the line stays centered */
}

@media (hover: hover) {
  a:hover {
    color: var(--genz-color-brand-2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    width: 100vw;
    height: 100vh;
  }
}
